body{
  background-color: rgb(51, 48, 48);
  font-family: 'Almendra';
  color: antiquewhite;
  margin: 20px;
  margin-bottom: 10px;
   display: flex;
  min-height: 100vh;
  flex-direction:column;
  position: relative;
  flex:1;
  
}

header { 
 background-color: rgb(158, 145, 151);
 font-family: 'Roboto';
 font-size: 20px;
 font-weight: bold;
 color:rgb(65, 2, 16);
 text-align: center;
 padding: 30px;
 margin: 0;
 
}
/* Kommentar i Css */
header h1{
   font-family: 'Almendra Display';
   font-size: 88px;
   margin: auto;
   text-align: center;
   
}

/* ändrar alla h1 och h2*/

header nav{
  margin-left: 0px;
}
/*styla alla mina nav a tagar i main meny*/
header nav a {
  display: inline-block ;
  padding: 0 50 px;
  color:floralwhite;
  text-decoration: none; /*ta bort understruket*/
  font-weight: bold;
  margin:5px;
  
  
}
/*för att se att man håller ovanför en länk*/
header nav a:hover{
  color:gray;
}

.products {
  
  padding: 30px;
  font-family: 'Almendra';
  font-size: 16px;
 margin-left: 20px;
  line-height: 125%;
   max-width: 400px;
  float: left;


}
.product {
  background-color: rgb(26, 24, 24);
  padding: 20px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
 float:left;
 

 

} 
 

.store, .stock{
  background-color: rgb(26, 24, 24);
  padding: 20px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
}
.stores, .stocks{
  margin-left: 20px;
  padding: 20px;
  font-family: 'Almendra';
  font-size: 16px;
  /*margin: 0 auto;*/
  max-width: 400px;
  line-height: 125%;
  position:left;
  top:0;
  width:100%
  
}

main {
  padding: 40px;
  font-family: 'Almendra';
  max-width: 600vh;
  line-height: 125%;
   flex: 1;
   padding-top:20px;
}
main p{
   text-align: center;
   font-family: 'Almendra';
   font-size: 24px;
}
main img {
  display:block;
  border-radius: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  
}
footer{
  font-family: 'Almendra';
   color:floralwhite;
  padding: 0 20px;
  margin: auto;
 text-align: center;
  position:absolute;
  margin-left:45%;
   bottom:0px;
   height:40px;
   width:auto;
   font-weight:lighter;
   font-size: 20px;
   margin-bottom: 20px;
 
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  
}


label {
  display: block;
  margin-bottom: 20px;
}

input {
  display: block;
  margin-top: 5px;
  width: 100%;
}

input[type="submit"] {
  width: auto;
  float: right;
}

.add-product-form, 
.add-store-form, 
.change-product-form, 
.change-store-form, 
.change-stock-form{
  display:none;
  

}

button{
  position: relative;
  color:antiquewhite;
  background-color: rgb(65, 2, 16);
  margin: 0 auto;
   border-radius: 15px;
  padding: 10px;
  font-size: 15px;
   font-family: 'Roboto';
   cursor:pointer;
 
 
}
.add-product-button, .add-store-button{
  position: relative;
  color:antiquewhite;
  background-color: rgb(26, 24, 24);
  font-size: 16px;
  margin: 0 auto;
  margin-left: 20px;
   border-radius: 15px;
   font-family: 'Roboto';
   padding: 10px;
   cursor:pointer;
   

}

hr{
  border-color:antiquewhite
}


span{
  margin-left: 10px;
 font-size: 14px;
  color:antiquewhite;
   font-family:'Roboto' ;
}

.smart{
  display: none;
}